// Gadżet wyszukiwanie i zamiana 
#srBox {background:#222; border-color:#666;}
#srBox .label,
	#srBox label {color:#d8d8d8;}
#srBox input[type="text"] {background:#222; border-color:#777;}
#srBox a {color:#d8d8d8; background:#383862; border-color:#777;}
#srBox a:hover {background:#202039;}
#srBox a:focus {background:#6464a2; color:#fff;}
