// Gadżet kolorujący nazwy użytkowników 
a.nick_admin,
	a.nick_admin:visited {color:#7f7;}
a.nick_bot,
	a.nick_bot:visited {color:#6ff;}
a.nick_friend,
	a.nick_friend:visited {color:#7d7;}
a.nick_ip,
	a.nick_ip:visited {color:#f99;}
a.nick_dynamic_ip,
	a.nick_dynamic_ip:visited {color:#fae;}
a.nick_steward,
	a.nick_steward:visited {color:#fb0;}
